<!DOCTYPE html>
<html>
    <head>
        <title>Test - Home</title> 
          <%- include('partials/cssBundle.ejs')  %>
        <link href="/assets/css/site.css" rel="stylesheet" type="text/css"/> 
     
    </head>
    <body >
        <%- include('partials/menu.ejs')  %>
        <h1 >Add Employee</h1>
        

        <%- include('partials/jsBundle.ejs')  %>
    </body>
</html>